{% extends 'layout.twig' %}

{% block body %}
  <h1>{{title}}</h1>
  <p>Bienvenido al {{title}}</p>
  <br><br><br>
  <p>En este ejercicio vemos integramente: </p>
  <ul>
  <li>BackEnd (Express, Mongoose, MongoDB, controladores, vistas y server json)</li>
  <li>FrontEnd (HTML, CSS, BootsTrap, JavaScript)</li>
  <li>Herramientas de trabajo (GIT, gitKraken, PostMan).</li>
  <br><li>Modificación de un tutorial visto en clase. La evolución de éste ejercicio está subiéndose a bitBucket modificación a modificación.</li>
  </ul>
{% endblock %}
